@{
    Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Are you sure you want to remove this Machine?</h2>

<h3>Machine Name: @Html.DisplayFor(model => model.MachineName)</h3>
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" class="btn btn-danger" />
}
<p>@Html.ActionLink("Back to List", "Index")</p>
<p>@Html.ActionLink("Back Home", "Index", "Home")</p>