@{
    Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a new person to the Engineer roster:</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.EngineerName)
    @Html.TextBoxFor(model => model.EngineerName)
    <input type="submit" value="Add Engineer" class="btn btn-success" />
}
<p>@Html.ActionLink("Show Engineer Roster", "Index")</p>
<p>@Html.ActionLink("Back Home", "Index", "Home")</p>